accepts-transfers={{ .AcceptTransfers }}
allow-flight={{ .AllowFlight }}
allow-nether={{ .AllowNether }}
broadcast-console-to-ops={{ .BroadcastConsoleToOps }}
broadcast-rcon-to-ops={{ .BroadcastRCONToOps }}
difficulty={{ .Difficulty }}
enable-command-block={{ .EnableCommandBlock }}
enable-jmx-monitoring={{ .EnableJMXMonitoring }}
enable-query={{ .EnableQuery }}
enable-rcon={{ .EnableRCON }}
enable-status={{ .EnableStatus }}
enforce-secure-profile={{ .EnforceSecureProfile }}
enforce-whitelist={{ .EnforceWhitelist }}
entity-broadcast-range-percentage={{ .EntityBroadcastRangePercentage }}
force-gamemode={{ .ForceGamemode }}
function-permission-level={{ .FunctionPermissionLevel }}
gamemode={{ .Gamemode }}
generate-structures={{ .GenerateStructures }}
generator-settings={{ .GeneratorSettings }}
hardcore={{ .Hardcore }}
hide-online-players={{ .HideOnlinePlayers }}
initial-disabled-packs={{ .InitialDisabledPacks }}
initial-enabled-packs={{ .InitialEnabledPacks }}
level-name={{ .LevelName }}
level-seed={{ .LevelSeed }}
level-type={{ .LevelType }}
log-ips={{ .LogIPs }}
max-chained-neighbor-updates={{ .MaxChainedNeighborUpdates }}
max-players={{ .MaxPlayers }}
max-tick-time={{ .MaxTickTime }}
max-world-size={{ .MaxWorldSize }}
motd={{ .MOTD }}
network-compression-threshold={{ .NetworkCompressionThreshold }}
online-mode={{ .OnlineMode }}
op-permission-level={{ .OpPermissionLevel }}
player-idle-timeout={{ .PlayerIdleTimeout }}
prevent-proxy-connections={{ .PreventProxyConnections }}
pvp={{ .PVP }}
query.port={{ .QueryPort }}
rate-limit={{ .RateLimit }}
rcon.password={{ .RCONPassword }}
rcon.port={{ .RCONPort }}
region-file-compression={{ .RegionFileCompression }}
require-resource-pack={{ .RequireResourcePack }}
resource-pack={{ .ResourcePack }}
resource-pack-id={{ .ResourcePackID }}
resource-pack-prompt={{ .ResourcePackPrompt }}
resource-pack-sha1={{ .ResourcePackSHA1 }}
server-ip={{ .ServerIP }}
server-port={{ .ServerPort }}
simulation-distance={{ .SimulationDistance }}
spawn-animals={{ .SpawnAnimals }}
spawn-monsters={{ .SpawnMonsters }}
spawn-npcs={{ .SpawnNPCs }}
spawn-protection={{ .SpawnProtection }}
sync-chunk-writes={{ .SyncChunkWrites }}
text-filtering-config={{ .TextFilteringConfig }}
use-native-transport={{ .UseNativeTransport }}
view-distance={{ .ViewDistance }}
white-list={{ .Whitelist }}
