accepts-transfers={{ Deref .AcceptTransfers }}
allow-flight={{ Deref .AllowFlight }}
allow-nether={{ Deref .AllowNether }}
broadcast-console-to-ops={{ Deref .BroadcastConsoleToOps }}
broadcast-rcon-to-ops={{ Deref .BroadcastRCONToOps }}
difficulty={{ Deref .Difficulty }}
enable-command-block={{ Deref .EnableCommandBlock }}
enable-jmx-monitoring={{ Deref .EnableJMXMonitoring }}
enable-query={{ Deref .EnableQuery }}
enable-rcon={{ Deref .EnableRCON }}
enable-status={{ Deref .EnableStatus }}
enforce-secure-profile={{ Deref .EnforceSecureProfile }}
enforce-whitelist={{ Deref .EnforceWhitelist }}
entity-broadcast-range-percentage={{ Deref .EntityBroadcastRangePercentage }}
force-gamemode={{ Deref .ForceGamemode }}
function-permission-level={{ Deref .FunctionPermissionLevel }}
gamemode={{ Deref .Gamemode }}
generate-structures={{ Deref .GenerateStructures }}
generator-settings={{ Deref .GeneratorSettings }}
hardcore={{ Deref .Hardcore }}
hide-online-players={{ Deref .HideOnlinePlayers }}
initial-disabled-packs={{ Deref .InitialDisabledPacks }}
initial-enabled-packs={{ Deref .InitialEnabledPacks }}
level-name={{ Deref .LevelName }}
level-seed={{ Deref .LevelSeed }}
level-type={{ Deref .LevelType }}
log-ips={{ Deref .LogIPs }}
max-chained-neighbor-updates={{ Deref .MaxChainedNeighborUpdates }}
max-players={{ Deref .MaxPlayers }}
max-tick-time={{ Deref .MaxTickTime }}
max-world-size={{ Deref .MaxWorldSize }}
motd={{ Deref .MOTD }}
network-compression-threshold={{ Deref .NetworkCompressionThreshold }}
online-mode={{ Deref .OnlineMode }}
op-permission-level={{ Deref .OpPermissionLevel }}
player-idle-timeout={{ Deref .PlayerIdleTimeout }}
prevent-proxy-connections={{ Deref .PreventProxyConnections }}
pvp={{ Deref .PVP }}
queryDeref .port={{ Deref .QueryPort }}
rate-limit={{ Deref .RateLimit }}
rconDeref .password={{ Deref .RCONPassword }}
rconDeref .port={{ Deref .RCONPort }}
region-file-compression={{ Deref .RegionFileCompression }}
require-resource-pack={{ Deref .RequireResourcePack }}
resource-pack={{ Deref .ResourcePack }}
resource-pack-id={{ Deref .ResourcePackID }}
resource-pack-prompt={{ Deref .ResourcePackPrompt }}
resource-pack-sha1={{ Deref .ResourcePackSHA1 }}
server-ip={{ Deref .ServerIP }}
server-port={{ Deref .ServerPort }}
simulation-distance={{ Deref .SimulationDistance }}
spawn-animals={{ Deref .SpawnAnimals }}
spawn-monsters={{ Deref .SpawnMonsters }}
spawn-npcs={{ Deref .SpawnNPCs }}
spawn-protection={{ Deref .SpawnProtection }}
sync-chunk-writes={{ Deref .SyncChunkWrites }}
text-filtering-config={{ Deref .TextFilteringConfig }}
use-native-transport={{ Deref .UseNativeTransport }}
view-distance={{ Deref .ViewDistance }}
white-list={{ Deref .Whitelist }}
